.header-container {
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.header-container:hover {
  border: 1px dotted grey;
}

@keyframes move-text {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.loading-text {
  animation: move-text 1s infinite;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    max-width: 1158px;
  }
}
