.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  opacity: 1; /* Змініть opacity на 1, щоб показати модальне вікно */
  visibility: visible; /* Змініть visibility на visible */
  pointer-events: auto; /* Змініть pointer-events на auto */
  display: flex; /* Додайте display: flex, щоб розмістити модальне вікно по центру */
  justify-content: center; /* Центруємо вміст по горизонталі */
  align-items: center; /* Центруємо вміст по вертикалі */
}

.modal-cont {
  position: absolute;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cont-button {
  display: flex;
  gap: 10px;
}
